# Displaying Hello World:

In [1]:
# Using the print method
print("Hello World")

Hello World

In [2]:
#Using the printf method
print(f"Hello World")

Hello World

In [3]:
#Using the string format method
print("{}".format("Hello World"))

Hello World

# Taking Input from the User:

In [4]:
# Taking a string input from the user
text = input()
print(text)

Hello World
Hello World

In [5]:
# Taking an integer input from the user (using typecasting)
num = int(input())
print(num)

3
3

In [6]:
# Using a prompt to tell the user about the input
rational = float(input("Enter a floating point rational number: "))
print("The inputted number is: {}".format(rational))

Enter a floating point rational number: 2.0956
The inputted number is: 2.0956

# Using Basic Arithmetic and Logic Operations

In [7]:
# Adding two values
num1 = 13
num2 = 3
print(num1 + num2)

16

In [8]:
# Subtracting two values
num1 = 13
num2 = 3
print(num1 - num2)

10

In [9]:
# Multiplying two values
num1 = 13
num2 = 3
print(num1 * num2)

39

In [10]:
# Dividing two values
num1 = 13
num2 = 3
print(num1 / num2)

4.333333333333333

In [11]:
# Floor Division of two values (Getting Quotient of Divison)
num1 = 13
num2 = 3
print(num1 // num2)

4

In [12]:
# Modulus of two values (Getting Remainder of Divison)
num1 = 13
num2 = 3
print(num1 % num2)

1

In [13]:
# Exponentation (Powering up a number)
num1 = 13
num2 = 3
print(num1 ** num2)

2197

In [1]:
#Negation 
num = 5
-num

-5

In [2]:
#Absolute Function
num = -5
abs(num)

5

In [3]:
#Type Casting into Integers
num = 5.064
int(num)

5

In [4]:
#Type Casting into Floats
num = '5.064'
float(num)

5.064

In [5]:
#Type Casting into Complex
cmplx = complex(2,3) #Creates a complex number with real value 2 and imaginary value 3
cmplx

(2+3j)

In [6]:
#Creating conjugate of a complex number
cmplx.conjugate()

(2-3j)

In [7]:
#Getting quotient and remainder of a division as a tuple
num1 = 13
num2 = 3
divmod(num1, num2)

(4, 1)

In [8]:
#Computing the power 
num1 = 13
num2 = 3
pow(num1, num2)

2197

In [21]:
#Bitwise OR
num1 = 2 #010b
num2 = 4 #100b
num1 | num2 #Returns the bitwise sum of integers (110b)

6

In [23]:
#Bitwise AND
num1 = 2 #010b
num2 = 6 #110b
num1 & num2 #Returns the bitwise product of integers (010b)

2

In [24]:
#Bitwise Exclusive OR (XOR)
num1 = 2 #010b
num2 = 6 #110b
num1 ^ num2 #Returns the bitwise XOR of integers (100b)

4

In [25]:
#Bitwise inversion (NOT)
num1 = 6 #110b
~num1 #Returns the bitwise NOT of integer (001b)

-7

In [28]:
#Bitwise Shift Left
num = 29 #11101b
num << 2 #Shifts the integer by 2 digits left (1110100)

116

In [29]:
#Bitwise Shift Right
num = 29 #11101b
num >> 2 #Shifts the integer by 2 digits right (00111b)

7

In [30]:
#Getting bit length of an integer
num1 = 6 #110b
num1.bit_length()

3

In [41]:
#Createing an array of bytes for the provided integer
num1 = 1023
num1.to_bytes(2, byteorder='big')

b'\x03\xff'

In [42]:
#Creating integer from a bytes array
bstring = b'\x03\xff'
num = 0
num.from_bytes(bstring, byteorder='big')

1023

In [44]:
#Get integer ratio to get the integer
num = 8
num.as_integer_ratio() #Always gives integer as numerator and 1 as denominator

(8, 1)

In [45]:
#Get integer ratio to get the fractional floating point
num = 4.5
num.as_integer_ratio() #Returns tuple as (numerator, denominator)

(9, 2)

In [46]:
#Check if floating point is also an integer
num = 4.0
num.is_integer() #Returns True if integer otherwise False

True

In [14]:
# Logical Operators
num1 = num2 = 2
num3 = 5
num4 = 1

print(num1 == num2) #Is equal?
print(num1 != num3) #Is not equal?
print(num4 < num2) #Is less than?
print(num3 > num2) #Is greater than?
print(num4 <= num2) #Is less than equals to?
print(num3 >= num1) #Is greater than equals to?

True
True
True
True
True
True

# Using Conditionals

In [15]:
# Checking a single condition
num = int(input("Enter an integer: "))
if num < 0:
    print("Number is less than 0")

Enter an integer: -3
Number is less than 0

In [16]:
# Checking two conditions
num = int(input("Enter an integer: "))
if num < 0:
    print("Number is less than 0")
else:
    print("Number is greater than 0")

Enter an integer: 5
Number is greater than 0

In [17]:
# Checking more than two alternative conditions
num = int(input("Enter an integer: "))
if num < 0:
    print("Number is less than 0")
elif num > 0:
    print("Number is greater than 0")
else:
    print("Number is equal to 0")

Enter an integer: 0
Number is equal to 0

In [18]:
# Checking more than two conditions which may not be alternative
marks = int(input("Enter marks obtained by Student: "))
if marks >= 85:
    print("Student obtained an A+")
if marks > 60:
    print("Student Passed the Exam")
else:
    print("Student Failed the Exam")

Enter marks obtained by Student: 87
Student obtained an A+
Student Passed the Exam

# Using Iterative Statements

## Using For Loops:
We use range(start, stop, step) method with for loops, that starts the counter from the value "start" and ends the counter at "stop" incrementing the counter by the step size "step" as indicated in the examples below:

In [19]:
#Looping with incrementing counter
for i in range(5): #Prints values from 0 to 4
    print(i)

0
1
2
3
4

In [20]:
#Looping with decrement counter
for i in range(4, -1, -1): #Prints values from 4 to 0
    print(i)

4
3
2
1
0

In [21]:
#Looping with custom step size 
for i in range(0, 11, 2): #Prints values from 0 to 10 incrementing counter by 2
    print(i)

0
2
4
6
8
10

## Using While Loops:
While Loops use the same format as in most languages. We need to initialize a counter variable before the while loop and define its counter in the loop block as indicated below:

In [22]:
#Looping with increment counter
i = 0
while(i < 5):
    print(i)
    i += 1

0
1
2
3
4

In [23]:
#Looping with decrement counter
i = 4
while(i >= 0):
    print(i)
    i -= 1

4
3
2
1
0

In [24]:
#Looping with custom size counter
i = 0
while(i <= 10):
    print(i)
    i += 2

0
2
4
6
8
10

## Using While True Loop:
While True loop is an infinite loop that is mostly used with break and continue statements, as illustrated under:

In [25]:
#Using while True with break
i = 0
while True:
    if i == 5:
        break
    print(i)
    i += 1

0
1
2
3
4

In [26]:
#Using while True with continue (continue is used with break)
i = -1
while True:
    i += 1
    print(i)
    if i != 4:
        continue
    else:
        break

0
1
2
3
4

# Using Boolean Operators (Short-Circuiting)

In [27]:
#Either short-circuiting (if any one of the condition is satisfied)
num = 5
print(num == 2 or num%5 == 0)

True

In [28]:
#Both short-circuiting (if both conditions are satisfied)
num = 5
print(num == 10 and num%5 == 0)
new_num = 10
print(new_num == 10 and new_num%5 == 0)

False
True

In [29]:
#Complimentary short-circuiting (check for the alternative condition)
num = 5
print(not num == 10)

True

# Sequences in Python:

## Lists

### List Initialization

In [30]:
#Creating lists in Python
A = [] #Initialization
A = [1,2,3,4,5] #Assignment
print(A)

[1, 2, 3, 4, 5]

In [31]:
#Using the range() method to create a list
A = list(range(10)) #Creates a list of values from 0 to 9
print(A)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Indexing and Slicing

In [32]:
#Getting a value from list using index (Indexing)
A[0] #Gives the first value

0

In [33]:
A[2] #Gives the third value

2

In [34]:
A[-1] #Gives the last value

9

In [35]:
#Getting a slice of values from a list within some indices (Slicing)
A[0:2] #Gives values from 0th index to 1st index (2 values)

[0, 1]

In [36]:
A[3:7] #Gives values from 3rd index inclusive to 6th index (4 values)

[3, 4, 5, 6]

In [37]:
A[3:-2] #Gives values from 3rd index to the third last index

[3, 4, 5, 6, 7]

In [38]:
A[2:] #Gives all values after the 2nd index (inclusive)

[2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
A[:4] #Gives all values before the 4th index (exclusive)

[0, 1, 2, 3]

In [40]:
#Step based slicing 
A[2::3] #Gives all values from the array starting from 2 with each step size of 3 (values at 2nd, 5th, 8th )

[2, 5, 8]

In [41]:
A[::3] #Gives all index values that are a multiple of 3 (starting from 0)

[0, 3, 6, 9]

In [42]:
A[1:7][::2] #Gives all index values from 1 to 6 with step size of 2

[1, 3, 5]

### List Methods

In [43]:
# Appending a value in list (Insert a value in a list at the end)
A.append(10) #Inserts the value at the 11th index
A

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
#Appending a list into a list
A.extend([11,12,13])
A

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [45]:
#Inserting an element in a list at a certain index
A.insert(3, 14) #Inserts the value 14 at the 4th index
A

[0, 1, 2, 14, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [46]:
#Removing a value from the list (removes the first occurence of this value)
A.remove(14)
A

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [47]:
#Removing a value at an index from the list
A.pop(-1)
A

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [48]:
#Clearing all values of a list
A.clear()
A

[]

In [49]:
#Getting a particular index of a value (Gives the first occurence)
A = [2,4,10,8,10,12,14,16,12,17]
A.index(12) #First occurence of 12 is at 6th index

5

In [50]:
#Getting the first occurence of a value in a particular part of the list
A.index(12, 7, 10) #First occurence of value 12 between the indices 8 and 10

8

In [51]:
#Counting the number of occurences of a value
A.count(12)

2

In [52]:
#Sorting the list inplace
A.sort() #By default ascending
A

[2, 4, 8, 10, 10, 12, 12, 14, 16, 17]

In [53]:
#Sorting in descending order
A.sort(reverse = True)
A

[17, 16, 14, 12, 12, 10, 10, 8, 4, 2]

In [54]:
#Sorting list based on some property
names = ['Adnan', 'Moiz',  'Ehsan', 'Hassan', 'Abdul Wahab', 'Darain', 'Touseef', 'Daniyal', 'Noor']
names.sort(key = len) #Sorts in ascending order of number of characters in names
names

['Moiz',
 'Noor',
 'Adnan',
 'Ehsan',
 'Hassan',
 'Darain',
 'Touseef',
 'Daniyal',
 'Abdul Wahab']

In [55]:
#Reverse elements of the list in place
A = [2,4,10,8,10,12,14,16,12,17]
A.reverse()
A

[17, 12, 16, 14, 12, 10, 8, 10, 4, 2]

In [56]:
#Creating a shallow copy of the list
B = A.copy()
B

[17, 12, 16, 14, 12, 10, 8, 10, 4, 2]

### Sequence Methods
These methods are applicable for all types of sequences

In [57]:
#Searching for a value in a list (returns a Boolean)
5 in A

False

In [58]:
#Complimentary Search (returns a Boolean)
5 not in A

True

In [59]:
#Concatenation
A + B

[17, 12, 16, 14, 12, 10, 8, 10, 4, 2, 17, 12, 16, 14, 12, 10, 8, 10, 4, 2]

In [60]:
#Multiplicity (Repetiting the same list by n factors)
A * 2

[17, 12, 16, 14, 12, 10, 8, 10, 4, 2, 17, 12, 16, 14, 12, 10, 8, 10, 4, 2]

In [61]:
#Finding length of the list
len(A)

10

In [62]:
#Finding the minimum element of a list
min(A)

2

In [63]:
#Finding the maximum element of a list
max(A)

17

### Mutable Property of Lists

In [64]:
# Replace a value at a certain index in a list
A[3] = 5 #Replace the value stored at the index 3 with the value 5
A

[17, 12, 16, 5, 12, 10, 8, 10, 4, 2]

In [69]:
# Replacing a set of values using slicing
A[3:6] = [8,3,4] #Assigns the values 8,3,4 to the indices 3,4,5 respectively
A

[17, 12, 16, 8, 3, 4, 8, 10, 4, 2]

### Lists as Stacks
We can treat Lists as stack data structures (LIFO) based by using the append() method as PUSH and pop() method as POP

In [77]:
# List as Stack 
# Suppose we want to create a stack that calls the processes in the following order
# PUSH 1, PUSH 2, PUSH 3, PUSH 4, POP, POP, PUSH 5, POP, PUSH 6, PUSH 7, POP

stack = []
stack.append(1)
stack.append(2)
stack.append(3)
stack.append(4)
stack.pop()
stack.pop()
stack.append(5)
stack.pop()
stack.append(6)
stack.append(7)
stack.pop()
stack

[1, 2, 6]

### Lists as Queues
We can treat Lists as queue data structures (FIFO) based by using the collections.deque object which allows to append and pop values efficiently

In [78]:
#Importing collections.deque
from collections import deque

#Suppose we want to create a queue based on the following processes:
# ENQUEUE 1, ENQUEUE 2, ENQUEUE 3, ENQUEUE 4, DEQUEUE, DEQUEUE, ENQUEUE 5, DEQUEUE, ENQUEUE 6, ENQUEUE 7, DEQUEUE

queue = deque([])
queue.append(1)
queue.append(2)
queue.append(3)
queue.append(4)
queue.popleft() #popleft because this is a double ended queue acting as a queue
queue.append(5)
queue.popleft()
queue.append(6)
queue.append(7)
queue.popleft()
queue

deque([4, 5, 6, 7])

### List Comprehension
List Comprehension allows to create lists based on conditions or functions

In [80]:
A = [x**2 for x in range(10)] #Creates a list with values [0,1,4,9,16,25,36,49,64,81]
A

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [82]:
A = [x for x in [1,65,34,23,87,46,87,29,92,16] if x%2 == 0] #Stores only even numbers from the provided array
A

[34, 46, 92, 16]

In [83]:
A = [(x, x**2) for x in range(10)] #Creates list of tuples of values with their squares
A

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

In [85]:
A = [[1,2,3], [4,5,6], [7,8,9]]
A = [x for i in A for x in i] #Flattens the previous list
A

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
#Nested List Comprehensions
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
]

matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [89]:
#Using list comprehension to transpose the matrix
transMat = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
transMat

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

## Del Statement
Allows to delete elements from a list either single index, slice of indices or whole list

In [91]:
A = [x for x in range(10)] #Creates a list of values from 0-9
del A[2] #deletes index 2 from the list
A

[0, 1, 3, 4, 5, 6, 7, 8, 9]

In [92]:
del A[4:6] #deletes values in the slice [4:6]
A

[0, 1, 3, 4, 7, 8, 9]

In [93]:
del A[:] #deletes all elements of the list
A

[]

## Tuples

In [94]:
#Creating a tuple
A = "hello", 2, "world"
A

('hello', 2, 'world')

In [95]:
#Getting a particular value at a particular index
A[0]

'hello'

In [97]:
#Creating a nested tuple
u = A, ("friend", "num", 5)
u

(('hello', 2, 'world'), ('friend', 'num', 5))

In [98]:
#Tuples are immutable
A[0] = "not hello"

TypeError: 'tuple' object does not support item assignment

In [99]:
#Unpacking values from a tuple
x, y, z = A
x

'hello'

In [106]:
#unpacking values from tuple into a list
args = [*A]
args

['hello', 2, 'world']

### Sequence Methods

In [107]:
# Finding length of a tuple
len(A)

3

In [109]:
# Finding max value from a tuple
A = (2,5,7,4,3,5,2)
max(A)

7

In [110]:
#Finding minimum value from a tuple
min(A)

2

In [111]:
#Finding the occurence of a value in a tuple
A.count(5)

2

In [112]:
#Concatenation
B = (1,2,3)
A + B

(2, 5, 7, 4, 3, 5, 2, 1, 2, 3)

## Sets

In [113]:
#Creating empty set
A = set()
A

set()

In [114]:
#Creating an initialized set
A = {'a','b','c','d','e'}
A

{'a', 'b', 'c', 'd', 'e'}

In [115]:
#Set removes common elements by default
A = {'a','b','b','c','d','e','e'}
A

{'a', 'b', 'c', 'd', 'e'}

### Set Operations

In [116]:
# Common letters in two sets (intersection)
A = {'a','b','c', 'd'}
B = {'c', 'd', 'e', 'f'}
A & B

{'c', 'd'}

In [117]:
#Letters in A but not in B (Set difference)
A - B

{'a', 'b'}

In [118]:
#Letters in A or B or both (Union)
A | B

{'a', 'b', 'c', 'd', 'e', 'f'}

In [119]:
#Letters present in either A or B but not both (Symmetric Difference)
A ^ B

{'a', 'b', 'e', 'f'}

In [120]:
# Set comprehension
A = {x for x in 'MISSISSIPI'} #Creates a set with common characters from given word
A

{'I', 'M', 'P', 'S'}

In [3]:
# Set IsDisjoint
A = {'a','b','c','d'}
B = {'e','f','g','h'}
A.isdisjoint(B) #Checks if A and B are disjoint or not

True

In [5]:
# Checking for subset
A = {'a','b','c','d'}
B = {'a','b'}
print(B.issubset(A)) #Object method for checking subset
print(B <= A) #Symbol method for checking subset
print(B < A) #Symbol method for checking proper subset

True
True
True

In [6]:
# Checking for superset
print(A.issuperset(B)) #Object method for checking superset
print(A >= B) #Symbol method for checking superset
print(A > B) #Symbol method for checking proper superset

True
True
True

In [7]:
# Applying Union
A = {'a', 'b', 'c'}
B = {1, 2, 3}
C = {'Hello', 'World'}
print(A.union(B)) #Object method to return union of set A and B
print(A.union(B,C)) #Object method to return union of sets A, B and C

{1, 'c', 'b', 'a', 2, 3}
{1, 'c', 'b', 'a', 2, 3, 'Hello', 'World'}

In [8]:
# Applying Intersection
A = {'a', 'b', 'c'}
B = {'a', 1, 2, 3}
C = {'a', 'b'}
print(A.intersection(C)) #Object method to return intersection of set A and B
print(A.intersection(B,C)) #Object method to return intersection of sets A, B and C

{'b', 'a'}
{'a'}

In [9]:
# Applying Set Difference
A = {'a', 'b', 'c'}
B = {'a', 1, 2, 3}
C = {'a', 'b'}
print(A.difference(C)) #Object method to return difference of set A and B
print(A.difference(B,C)) #Object method to return difference of sets A, B and C

{'c'}
{'c'}

In [10]:
# Applying Symmetric Difference
A = {'a','b','c'}
B = {'a', 'e', 'c', 'g'}
A.symmetric_difference(B) #Object method to return symmetric differnce of sets A and B

{'b', 'e', 'g'}

In [11]:
#Creating a frozen set (Immutable set type)
fset = frozenset(['a', 'b', 'c'])
fset

frozenset({'a', 'b', 'c'})

In [18]:
#Obtaining a value from a set/frozenset
for i in fset:
    print(i)

c
b
a

### Mutable Set Methods (Only Applicable on Sets but not on FrozenSets)

In [20]:
#Updating values in a set
A = {'a', 'b', 'c'}
A.update({'a', 'd', 'e'}) #Updates the value of set A by adding elements
print(A)
A.intersection_update({'a','b','b','c'}) #Updates the value of set A got from intersection
print(A)
A.difference_update({'c'}) #Updates the value of set A got from difference
print(A)
A.symmetric_difference({'b','d','e'}) #Updates the value of set A from symmetric difference
print(A)

{'c', 'b', 'a', 'e', 'd'}
{'b', 'c', 'a'}
{'b', 'a'}
{'b', 'a'}

In [21]:
#Add a new element to the set
A = set()
A.add('a')
A

{'a'}

In [22]:
#Remove an element from the set
A = {'a', 'b', 'c', 'd'}
A.remove('c')
A

{'a', 'b', 'd'}

In [23]:
#Alternate method for removing element from set
A = {'a', 'b', 'c', 'd'}
A.discard('c')
A

{'a', 'b', 'd'}

In [24]:
#Remove the last element from the set
A = {'a', 'b', 'c', 'd'}
A.pop()
A

{'a', 'b', 'd'}

In [25]:
#Clear the values of a set
A.clear()
A

set()

## Dictionaries

In [121]:
#Creating an empty dictionary
A = {}
A

{}

In [28]:
#Creating a dictionary with keys and values pairs
A = {'a':1, 'b':2, 'c':3} #Using {}
print(A)
A = dict({'a':1, 'b':2, 'c':3}) #Using dict() with {}
print(A)
A = dict([('a',1), ('b',2), ('c',3)]) #Using dict() with (key, value) tuple list
print(A)
A = dict(zip(['a', 'b', 'c'], [1, 2, 3])) #Using dict() with zip(keyList, valueList) 
print(A)
A = dict({}, a=1, b=2, c=3)
print(A)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}

In [29]:
#Accessing a value from dict using a key
A['a']

1

In [30]:
#Dictionaries' keys are immutable but their values can be changed
A['a'] = 5
A

{'a': 5, 'b': 2, 'c': 3}

In [31]:
#Sort keys in a Dictionary (Returns a list of keys)
sorted(A)

['a', 'b', 'c']

In [32]:
#Check for a key in dicitonary
'b' in A

True

In [35]:
#Converting dictionary into list
list(A)

['a', 'b', 'c']

In [36]:
#Getting length of dictionary (Number of items in dictionary)
len(A)

3

In [37]:
#Removing a key from dictionary
del A['c']
A

{'a': 1, 'b': 2}

In [42]:
#Creating iterator based on dictionary
iA = iter(A)
print(iA.__next__())
print(iA.__next__())

a
b

In [43]:
#Clearing the dictionary values
A.clear()
A

{}

In [7]:
# Using the fromkeys method
A = {'a':1, 'b':2, 'c':3}
newdict = dict.fromkeys(A.keys()) #Creates a new dictionary with keys same as A
newdict

{'a': None, 'b': None, 'c': None}

In [8]:
#Getting value of a particular key in dictionary
val = A.get('a') #Gets the value of the key 'a' in dict object A
val

1

In [10]:
#Getting the (key, value) pairs in dictionary
A.items() #Allows to view the (key, value) pairs present in the dictionary

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [11]:
#Getting the keys in the dictionary
A.keys() #Allows to view the keys present in the dictionary

dict_keys(['a', 'b', 'c'])

In [12]:
#Removing a key from a dictionary
A.pop('b') #Removes the key 'b' from the dictionary and returns its value

2

In [15]:
A = {'a':1, 'b':2, 'a':2, 'c':4} #For two keys with same values, the last value is considered
A

{'a': 2, 'b': 2, 'c': 4}

In [16]:
#Remove a (key, value) pair from a dictionary
A.popitem() #Returns a (key, value) pair using LIFO method

('c', 4)

In [18]:
#Reversing the keys of a dictionary
reversed(A) #Returns an iterator for reversed key items

In [21]:
#Insert that key if not present in the dictionary with default value
A.setdefault('d', 5) #Inserts the key 'd' in the dictionary and gives it the value 5
A

{'a': 2, 'b': 2, 'd': 5}

In [23]:
#Adding/Updating new (key, value) pairs in a dictionary
A.update(b = 3, c = 4, e = 7)
A

{'a': 2, 'b': 3, 'd': 5, 'c': 4, 'e': 7}

In [24]:
#Getting the values of a dictionary
A.values() #Returns a view of the values stored in the keys of a dictionary

dict_values([2, 3, 5, 4, 7])

### DictView Objects
Dictionary keys(), values() and items() return what we call dict view objects i.e. they show the view of contents of a dictionary

In [25]:
print(len(A.keys())) #Gives the number of keys in dicitonary
print(iter(A.values())) #Gives an iterator object of values in dictionary
print('a' in A.keys()) #Checks whether the key 'a' is present in dictionary
print(reversed(A.items())) #Gives a reversed iterator over items of the dictionary

5
<dict_valueiterator object at 0x000002C1C73DC9A0>
True
<dict_reverseitemiterator object at 0x000002C1C73DC9A0>

## Strings

In [47]:
#Creating Strings
str1 = 'Hello' #Using single quotes
str2 = "Hello" #Using double quotes

In [50]:
#Displaying strings 
print(str1) #Using print
print('{}'.format(str1)) #Using the format() method
print('{0} and {1}'.format(str1, str2)) #Using the format() method on list of arguments

Hello
Hello
Hello and Hello

In [51]:
#Displaying strings using printf
print(f'Hello World')

Hello World

In [53]:
#Capatilizing a string
text = "hello world"
text.capitalize()

'Hello world'

In [54]:
#Apply casefolding to all kinds of text (including unicode)
text = "Hello World"
text.casefold()

'hello world'

In [58]:
#Centering a string with some text
text = "Hello World"
text.center(len(text) + 6, '*') #Puts *** on both sides of the text

'***Hello World***'

In [59]:
#Counting occurence of a character in a string (Applicable as strings are just character arrays)
text = "Hello World"
text.count('o') #Number of times 'o' occurs in the text

2

In [60]:
#Counting occurence of a character in a substring
text.count('l', 0, 6) #Counts number of time 'l' occurs in the substring "Hello "

2

In [61]:
#Encoding a string as utf-8
text = "Hello World"
text.encode('utf-8')

b'Hello World'

In [62]:
#Checking if string endswith a particular character or substring
text = "Hello World"
text.endswith('World')

True

In [63]:
#Manipulating the space caused by tab characters \t in a string
text = "\tHello\tWorld\t!"
text.expandtabs(4) #Places a 4 space gap where \t is located

'    Hello   World   !'

In [64]:
#Searching character or substring in a string (Gives the index of its first occurence)
text = "Hello World"
text.find('o')

4

In [65]:
#Searching index of substring in a string
text = "MISSISSIPI"
text.find('SS')

2

In [66]:
#Searching if a substring exists in a string
text = "Hello World"
"ello" in text

True

In [67]:
#Alternative method for searching character or substring (Gives first index of occurence)
text = "Hello World"
text.index('l', 0, 6) #Finds first occurence of l in the substring "Hello "

2

In [72]:
#Checking if string is alphanumeric
'a9b'.isalnum()

True

In [73]:
#Checking if string is aplhabetic
'axyz'.isalpha()

True

In [74]:
#Checking if string is ascii text
'$_aA12'.isascii()

True

In [75]:
#Checking if the string is a decimal number
'01439'.isdecimal()

True

In [76]:
#Checking if the string is a digit of any sort
'01439'.isdigit()

True

In [78]:
#Checking if the string is an identifier
'e_a12x'.isidentifier()

True

In [80]:
#Checking if the string is a keyword
from keyword import iskeyword
iskeyword('if')

True

In [82]:
#Checking if all characters of a string are lowercase
text = "hello world"
text.islower()

True

In [83]:
#Checking if all characters of a string are numeric
text = "039530948"
text.isnumeric()

True

In [84]:
#Checking if all characters of the string are printable
text = "wk45osg9"
text.isprintable()

True

In [87]:
#Checking if all characters are whitespace
text = "    "
text.isspace()

True

In [88]:
#Checking if the string is title based
text = "Hello World"
text.istitle()

True

In [89]:
#Checking if the string is uppercased
text = "HELLO WORLD"
text.isupper()

True

In [90]:
#Concatenating Strings from Iterable
textList = ['b','a','n','a','n','a']
''.join(x for x in textList)

'banana'

In [93]:
#Filling the specified text with special characters on the right
text = "Hello World"
text.ljust(len(text) + 3, '*')

'Hello World***'

In [94]:
#Convert characters of a string to lowercase
text = "HELLO WORLD"
text.lower()

'hello world'

In [100]:
#Remove characters from the left (returns a copy)
text = "https:\\www.google.com"
text.lstrip("hstp:\\")

'www.google.com'

In [103]:
#Remove a prefix from the left
pastTrans = ''.maketrans('i','a') #Creating a past form translation table
pastPartTrans = ''.maketrans('i','u') #Creating a past participle form translation table
text = 'swim'
print('The Past Form of {} is: {}'.format(text, text.translate(pastTrans))) #Translates to past form
print('The Past Participle Form of {} is: {}'.format(text, text.translate(pastPartTrans))) #Translates to past participle form

The Past Form of swim is: swam
The Past Participle Form of swim is: swum

In [104]:
#Partiton string into a 3-tuple with the substring and its extremes
text = "How are you?"
text.partition('are')

('How ', 'are', ' you?')

In [108]:
#Replace characters in a string with some other characters
text = "Hello World"
text.replace("World","Python")

'Hello Python'

In [1]:
#Find the last occurence of a character or substring
text = "MISSISSIPI"
text.rfind("SS")

5

In [2]:
#Alternative method for finding last occurence of character os substring
text = "MISSISSIPI"
text.rindex("SS")

5

In [3]:
#Filling specified special characters on the left of given string
text = "Hello World"
text.rjust(len(text) + 3, '*')

'***Hello World'

In [5]:
#Partitioning a string into 3-tuple from the last occurence of the substring
text = "Don't seperate here but do seperate here"
text.rpartition('seperate')

("Don't seperate here but do ", 'seperate', ' here')

In [6]:
#Splitting a string into a list of substrings based on a seperator
text = "First, Second, Third, Fourth, Fifth"
text.rsplit(',')

['First', ' Second', ' Third', ' Fourth', ' Fifth']

In [7]:
#Removing characters from the right side of the string
text = "https:\\www.google.com.pk"
text.rstrip('kp.')

'https:\\www.google.com'

In [9]:
#Splitting a string into a list of substrings based on a seperator
text = "First, Second, Third, Fourth, Fifth"
print(text.split(',')) #Computes all possible splits
print(text.split(',', 3)) #Computes only three splits
print(text.split()) #Computes all possible splits using ' ' as seperator

['First', ' Second', ' Third', ' Fourth', ' Fifth']
['First', ' Second', ' Third', ' Fourth, Fifth']
['First,', 'Second,', 'Third,', 'Fourth,', 'Fifth']

In [11]:
#Split string based on line boundaries
text = "First\nSecond\rThird\nFourth\r\nFifth"
print(text.splitlines()) #Split without the line boundaries
print(text.splitlines(keepends = True)) #Split with line boundaries

['First', 'Second', 'Third', 'Fourth', 'Fifth']
['First\n', 'Second\r', 'Third\n', 'Fourth\r\n', 'Fifth']

In [12]:
#Check if a string starts with a certain character or substring
text = "https:\\www.google.com"
text.startswith('https:')

True

In [13]:
#Removing character or substring from a string
text = "***Hello World***"
text.strip('*')

'Hello World'

In [15]:
#Convert lowercase to uppercase and uppercase to lowercase
text = "hELLO wORLD"
text.swapcase()

'Hello World'

In [16]:
#Create a titled case version of string
text = "hello world"
text.title()

'Hello World'

In [17]:
#Converts all characters of a string to uppercase
text = "hello world"
text.upper()

'HELLO WORLD'

In [19]:
#Filling string with zeroes on the left based on specified width
strNum = '+34.56'
strNum.zfill(len(strNum) + 3) #Adds 3 zeroes to the left after + (or -) sign

'+00034.56'

## Binary Sequences

### Bytes Object
Bytes object are immutable in nature and represent sequence of single bytes

In [20]:
#Creating a bytes object
byte = b'Hello World'
byte

b'Hello World'

In [25]:
#Creating a bytes object from a Hex string
byte = bytes.fromhex('42E2 0000')
byte

b'B\xe2\x00\x00'

In [28]:
#Getting hex value of a binary
byte = b'B\xe2\x00\x00'
print(byte.hex()) #Without any byte seperator
print(byte.hex('-')) #With byte seperator

42e20000
42-e2-00-00

In [29]:
#Conversion of a bytes object into a list
byte = b'B\xe2\x00\x00'
list(byte)

[66, 226, 0, 0]

### Bytearray Object
Mutable version of the bytes object

In [33]:
#Creating a bytearray (Always constructed using a constructor)
byte = bytearray(10) #Creates a byte array of 0's of provided length
byte

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')

In [34]:
#Creating a bytearray from a hex value
byte = bytearray.fromhex('42E2 31A0')
byte

bytearray(b'B\xe21\xa0')

In [35]:
#Getting hex value from a bytesarray
byte = bytearray(b'B\xe21\xa0')
byte.hex()

'42e231a0'

## Memory View Object
Supports the objects of types __byte__ and __bytearray__ as well as other imported built-in objects such as __arrays__

In [41]:
#Creating a memoryview object from byte object
view = memoryview(b'Hello World')
view

In [42]:
#Viewing the value stored at the 1st index of memory view
view[1]

101

In [43]:
#Viewing the value stored at the last index of memory view
view[-1]

100

In [45]:
#Viewing the contents of a memoryview
list(bytes(view[:]))

[72, 101, 108, 108, 111, 32, 87, 111, 114, 108, 100]

In [46]:
#Alternate way of creating a list of values containing content of memoryview 
view[:].tolist()

[72, 101, 108, 108, 111, 32, 87, 111, 114, 108, 100]

In [48]:
#Checking if memoryview is only readable or writable as well 
view.readonly

True

In [51]:
#Creating a writable memoryview
bdata = bytearray(b'Hello World')
view = memoryview(bdata)
view.tolist()

[72, 101, 108, 108, 111, 32, 87, 111, 114, 108, 100]

In [54]:
#Replacing values in memoryview => Replaces values in the actual byte data
view[6:] = b'Pythn'
bdata #Checking data

bytearray(b'Hello Pythn')

In [55]:
#Convert memory object to bytes
view[6:].tobytes()

b'Pythn'

In [56]:
#Get hex value of a memoryview
view[6:].hex()

'507974686e'

In [57]:
#Creating a readonly memoryview from a writable one
readview = view[:].toreadonly()
print(readview.tolist())

#Trying to write value to new memoryview object
readview[6:] = b'Hello'
readview[:].tolist()

[72, 101, 108, 108, 111, 32, 80, 121, 116, 104, 110]

TypeError: cannot modify read-only memory

In [65]:
#Applying type casting from one type to other
bdata = bytearray(b'Hello World')
view = memoryview(bdata)
# view[0] = b'A' (Invalid) 
castview = view.cast('c') #Convert bytes into char object
castview[0] = b'A'
bdata #Checking changes in data

bytearray(b'Aello World')

In [66]:
#Checking the underlying object mapped on a particular memoryview
castview.obj is bdata

True

In [67]:
#Checking number of bytes occupied by a memoryview
from array import array
A = array('i', [1,2,3,4,5]) #Creating an integer array
m = memoryview(A) #Creating memoryview object of array
print(len(A)) #Gives length of the array
print(m.nbytes) #Gives total space occupied by the memoryview object
print(m.nbytes/len(A)) #Gives the space allocated by the specific datatype

5
20
4.0

In [70]:
#Gives the format being used for a memoryview
castview.format

'c'

In [73]:
#Get the item size of each element of the memoryview
m.itemsize

4

In [74]:
#Get the number of dimensions for the memoryview
m.ndim

1

In [76]:
#Get the shape of memoryview as N-dim array (Gives a tuple)
m.shape

(5,)

In [77]:
#Get the size in bytes needed to access each element in the memoryview dimension
m.strides

(4,)

In [78]:
#Check if memory is C based contiguous
m.c_contiguous

True

In [79]:
#Check if memory is Fortran based contiguous
m.f_contiguous

True

In [80]:
#Check if the memory allocated in memoryview is contiguous
m.contiguous

True

# Functions

In [73]:
#Function with no parameters and no return value 
def printHello():
    print("Hello World")
    
#Calling the function
printHello()

Hello World

In [74]:
#Function with parameter and no return value
def printNumber(num): #Need to provide an argument value for num which will be used by the function
    print("The number: {}".format(num))
    
#Calling the function
printNumber(5) #Uses the value num = 5

The number: 5

In [75]:
#Function with no parameter but a return value
def returnHello(): #Need no arguments 
    return "Hello" #Returns the string "Hello" which can be stored in some other variable(unlike print() which displays only)

#Calling the function
msg = returnHello() #String returned by function gets stored in msg
print(msg) #Displays the value of msg as output

Hello

In [76]:
#Function with parameter and return value
def fact(n): #Needs an argument value num, representing the number whose factorial is to be found
    fact = 1
    for i in range(1, n+1): #Uses the fact that n! = n * (n - 1) * (n - 2) * ... * 3 * 2 * 1
        fact *= i
        
    return fact #Return the value fact which can be stored in some other varialle

#Calling the factorial function
fact(5) #Computing the factorial of 5

120

In [79]:
#Using Default Argument Values
def calc(num1, num2, operator='+'): #Contains a default argument operator = '+'
    if operator == '+':
        return num1 + num2
    elif operator == '-':
        return num1 - num2
    elif operator == '*':
        return num1 * num2
    elif operator == '/':
        return num1 / num2
    else:
        raise ValueError("Invalid Operator for the Method")
        
#Calling the function
num1, num2 = 2, 5
print("The sum of {0} and {1} is: {2}".format(num1, num2, calc(num1, num2))) #Opeartor = '+' by default
print("The product of {0} and {1} is: {2}".format(num1, num2, calc(num1, num2, '*'))) #Provide operator if other than '+'

The sum of 2 and 5 is: 7
The product of 2 and 5 is: 10

In [80]:
#One thing to note about default arguments is that their value is taken at the time of function declaration 
#in case of variable value
argVal = 5 #Storing value 5 in argVal

#Declaring the function
def returnVal(value = argVal):
    return value

argVal = 6 #Storing value 6 in argVal

#Calling the function
returnVal() #Returns 5, as it was stored as the default value (it doesnt matter variable's value got changed afterwards)

5

In [81]:
#The above case for default values holds only in case of immutable objects, for mutable one this can change
argVal = [2,3,4]

#Declaring the function
def returnVal(value = argVal):
    return value

argVal[0] = 5 #Changes the first index value from 2 to 5

#Calling the function
returnVal()

[5, 3, 4]

### Keyword Arguments
For functions with more than one default arguments, we can call them by the specific argument value for a certain default argument, known as "Keyword Argument". This is indicated as under:

In [2]:
def getPerc(marks, totalMarks = 100, Paperno = 1):
    #Computes the percentage for the specified number of papers
    return sum(marks)/(totalMarks * Paperno) * 100

#Computing percentage
print(getPerc([57])) #Getting percentage of a single paper with totalMarks 100
print(getPerc([15, 30, 34, 48], 150)) #Getting percentage of a single paper with totalMarks 150
print(getPerc([57, 75, 56, 91, 87], Paperno = 5)) #Getting percentage of 5 papers each with totalMarks 100
print(getPerc([57, 75, 56, 91, 87], 150, 5)) #Getting percentage of 5 papers each with totalMarks 150

56.99999999999999
84.66666666666667
73.2
48.8

In [5]:
#Using the * in parameters
def sumList(*args): #*args allows to pack all the provided arguments to the function into a tuple value
    argList = list(args)
    return sum(argList)

#Computing the sum of a parameters (Works for different number of parameters)
print(sumList(1,2,3,4,5))
print(sumList(34,56,76))

15
166

In [9]:
#Using the ** in parameters
def sumDict(*args, **kwargs): #**kwargs allows to pack keyword arguments provided to the function into a dictionary pair
    dictSum = 0
    for k,v in kwargs.items(): #Gets the values from the keys of the dictionary
        dictSum += v
        
    return dictSum #Returns the sum of all values stored in the keys of a dicitonary
        
sumDict(a=2, b=3, c=4, d=6)

15

### Keyword Parameters
These allow to define positional-only, positional/keyword and keyword-only type arguments

In [10]:
#Function with all kinds of parameter passing (either positional or keyword)
def sumList(args):
    return sum(args)

#Calling the Function
print(sumList([1,2,3,4,5])) #Call using positional argument value
print(sumList(args = [1,2,3,4,5])) #Call using keyword argument value

15
15

In [11]:
#Function with only positional parameter passing 
def sumList(args, /):
    return sum(args)

#Calling the Function
print(sumList([1,2,3,4,5])) #Call using positional argument value
print(sumList(args = [1,2,3,4,5])) #Call using keyword argument value

15

TypeError: sumList() got some positional-only arguments passed as keyword arguments: 'args'

In [12]:
#Function with only keyword parameter passing
def sumList(*, args):
    return sum(args)

#Calling the Function
print(sumList(args = [1,2,3,4,5])) #Call using keyword argument value
print(sumList([1,2,3,4,5])) #Call using positional argument value

15

TypeError: sumList() takes 0 positional arguments but 1 was given

In [13]:
#Function making use of all the cases
def sumList(pos_list, /, std_list, *, kw_list):
    return sum(pos_list) + sum(std_list) + sum(kw_list)

#Calling the function
print(sumList([1,2,3], [4,5,6,7], kw_list=[8,9])) #Using standard area as positional-argument
print(sumList([1,2,3], std_list = [4,5,6,7], kw_list=[8,9])) #Using standard area as keyword-argument

45
45

### Lambda Expressions
These are small one-liner functions that can compute the result efficiently using the __lambda__ keyword

In [15]:
#Lambda function to sort items of a tuple list based on its second value
items = [('a',12), ('b',7), ('c',9), ('d',11)]

items.sort(key = lambda x: x[1]) #x represents each data item in the items list

print(items)

[('b', 7), ('c', 9), ('d', 11), ('a', 12)]

### Function Annotations:
Represents the various data types being used by the function

In [16]:
#We define the annotations for the function i.e. what types it uses
def returnInfo(name: str, age: int, salary: float) -> str:
    print("Function Annotations: \n {}".format(returnInfo.__annotations__))
    return "Name: {0}, Age: {1}, Salary: {2}".format(name, age, salary)

#Calling the Function
returnInfo("ABC", 24, 35000)

Function Annotations:
 {'name': <class 'str'>, 'age': <class 'int'>, 'salary': <class 'float'>, 'return': <class 'str'>}

'Name: ABC, Age: 24, Salary: 35000'

# Namespaces and Scopes:

In [2]:
def scope_test():
    def do_local():
        spam = "local spam"
    def do_nonlocal():
        nonlocal spam
        spam = "nonlocal spam"
    def do_global():
        global spam
        spam = "global spam"
        
        
    spam = "Spam Test"
    do_local()
    print("After local assignment: {}".format(spam))
    do_nonlocal()
    print("After non-local assignment: {}".format(spam))
    do_global()
    print("After global assignment: {}".format(spam))
    
scope_test()
print("in global scope ", spam)

After local assignment: Spam Test
After non-local assignment: nonlocal spam
After global assignment: nonlocal spam
in global scope  global spam

# Classes

In [4]:
#Creating a simple class object
class newClass: #Creates a new class
    attr = 123 #Assigns value 123 to attribute attr of the class (public by default)
    
    def attrVal(self): #Create a class method that points to the a class object
        return "Hello World" #Returns the message "Hello World" when method is called
    
#Now using this class
newInstance = newClass() #Creates an instance of the defined class
newInstance.attrVal() #Calls the attrVal() method for the class instance

'Hello World'

In [7]:
#Suppose we want to return the attr value, then we need to define the attr as an attribute for all class objects 
#such that when the need for call arises, all the class objects know what it means (define it in class local scope)
class newClass: 
    def __init__(self): #Serves as a constructor that initializes attribute values for the class objects
        self.attr = 123 #Assigns the value to an attribute of the class object
    
    #Suppose we want to return the attr value, we can make use of nonlocal value attr in the classmethod
    def attrVal(self): 
        return self.attr #Returns the value of the attribute of the class object
    
#Now using this class
newInstance = newClass() 
newInstance.attrVal()

123

In [9]:
#Suppose we want to create a class in which the constructor takes values from user when creating the class object
class newClass:
    def __init__(self, name, age): #Takes user parameters name and age
        self.name = name #Assigns the name argument value to a class object's name attribute
        self.age = age #Assigns the age argument value to a class object's age attribute
        
#Using the class
newInstance = newClass("ABC", 7) #Providing argument values for the constructor method
print("The name of the instance created is: {}".format(newInstance.name)) #Class attributes can be accessed as they are public
print("The age of the instance created is: {}".format(newInstance.age)) #Class attributes can be accessed as they are public

The name of the instance created is: ABC
The age of the instance created is: 7

In [20]:
#Creating shared class variables (Values that are shared by all class instances)
class Student:
    dept = "CSIT" #This remains same for all the student instances
    
    def __init__(self, name):
        self.name = name #This depends upon the argument value provided to constructor when creating student instance
        
#Using the class
std1 = Student("ABC")
std2 = Student("XYZ")
print("Name: {} Dept: {}".format(std1.name, std1.dept))
print("Name: {} Dept: {}".format(std2.name, std2.dept))

Name: ABC Dept: CSIT
Name: XYZ Dept: CSIT

In [23]:
#Using functions defined outside class as class methods

def getName(self, name): #Creating a class method outside the class
    return name

class Student:
    def __init__(self, name): #Constructor takes a single argument 'name'
        self.name = name
        
    getStudName = getName #Declaration of the function defined outside class
    
#Creating instance of Student class
std = Student("ABC") 
std.getStudName(std.name) #Use the name of student as an argument value to the declared class method

'ABC'

In [24]:
#Using methods within other methods
class ClassStudents:
    def __init__(self):
        self.nameList = [] #Creates a list attribute for the class
        
    def addStud(self, name):
        self.nameList.append(name) #Adds the provided argument name value into the nameList
        
    def addStudTwice(self, name): #Adds the provided argument name value twice in the list by calling addStud() method twice
        self.addStud(name) 
        self.addStud(name)
        
#Creating instance of Student class
newClass = ClassStudents()
newClass.addStud("ABC")
newClass.addStudTwice("XYZ")
newClass.nameList

['ABC', 'XYZ', 'XYZ']

### Inheritence

In [29]:
#Single Class Inheritence
class Parent:
    def returnParent(self): #Returns the message for a Parent object
        return "I am parent"

class Child(Parent):
    def returnParent(self): #Overloading function defined in Parent class
        return "This is my Parent"
    
    def returnChild(self): #Returns the message for a Child object
        return "I am child"
    
#Creating instance
child = Child()
print(child.returnChild())
print(child.returnParent())
print(Parent().returnParent())

I am child
This is my Parent
I am parent

In [31]:
#Multiple Inheritence
class Human:
    def sleep(self):
        return "I sleep at night"
    def eat(self):
        return "I eat in day"
    
class WellMannered:
    def ethics(self):
        return "I have ethical values"
    
class Man:
    def brave(self):
        return "I am brave"
    
class GentleMan(Human, WellMannered, Man):
    def car(self):
        return "I have Ferrari"
    
gm = GentleMan()
print(gm.car())
print(gm.sleep())
print(gm.eat())
print(gm.ethics())
print(gm.brave())

I have Ferrari
I sleep at night
I eat in day
I have ethical values
I am brave

### Name Mangling
Allows to define identifier such that no clashing occurs with same identifier name in base class

In [49]:
class Mapping:
    def __init__(self, iterable):
        self.item_list = []
    
    def update(self, iterable):
        for item in iterable:
            self.item_list.append(item)
            
class MappingSubClass(Mapping):
    def update(self, keys, values):
        for item in zip(keys, values):
            self.item_list.append(item)

#Using the MappingClass 
newsubmap = Mapping(iter({'1':5, '3':7}))
newsubmap.update(iter({'1':3, '2':4})) #Refers to the _Mapping__update() method
print(newsubmap.item_list)
            
#Using the MappingSubClass
newsubmap = MappingSubClass(iter({'1':5, '3':7}))
newsubmap.update(['1','2'], [3,4]) #Refers to the _MappingSubClass__update() method
print(newsubmap.item_list)

['1', '2']
[('1', 3), ('2', 4)]

### Using Empty Classes as Records

In [51]:
class Student: #Empty class to maintain records
    pass

#Create a new student instance
std1 = Student()

#Filling info regarding student
std1.name = "ABC"
std1.dept = "CSIT"
std1.year = "FE"

#Create another student instance
std2 = Student()

#Filling info regarding student
std2.name = "XYZ"
std2.dept = "ME"
std2.year = "TE"

#Getting info about the students
print("{} studies in {} and is in {} year".format(std1.name, std1.dept, std1.year))
print("{} studies in {} and is in {} year".format(std2.name, std2.dept, std2.year))

ABC studies in CSIT and is in FE year
XYZ studies in ME and is in TE year

# Iterators:
Iterators are the basic principle on which all looping constructs are built in Python

In [52]:
#Creating an iterator
listIter = iter([1, 2, 3, 4]) #Creates an iterator object of a list
listIter

In [54]:
#To move forward in the iterator, we use the next() method
print(next(listIter)) #Displays 1
print(next(listIter)) #Displays 2
print(next(listIter)) #Displays 3
print(next(listIter)) #Displays 4

1
2
3
4

In [55]:
#When all elements of an iterator are finished, it gives a StopIteration exception
print(next(listIter))

StopIteration:

In [58]:
#Creating an iterator that reads the items of a container in reverse order
class ReverseIterator:
    
    def __init__(self, iterable): #Constructor takes an iterable(container that can be iterated)
        self.iterable = iterable 
        self.index = len(iterable) #Set the index as the last value of iterable + 1
        
    def __iter__(self):
        return self #Returns the ReverseIterator oject itself
    
    def __next__(self): 
        if self.index == 0: #If index goes to 0, then raise the StopIteration exception
            raise StopIteration
        self.index -= 1 #Decrement index for each next() call
        return self.iterable[self.index] #Return the value of item stored at the index of the iterable
    
#Using the reverse iterator 
reverseIter = ReverseIterator([1,2,3,4,5]) #Creates a reverseIterator for the list container
iter(reverseIter) #Returns the iterator object
print(next(reverseIter)) #Displays 5
print(next(reverseIter)) #Displays 4
print(next(reverseIter)) #Displays 3
print(next(reverseIter)) #Displays 2
print(next(reverseIter)) #Displays 1
print(next(reverseIter)) #Returns the Stop Iteration Exception

5
4
3
2
1

StopIteration:

# Generators:
Generators allows to make iterators easily from containers, using the yield statement

In [59]:
#Creating a simple generator to loop through values of an iterable
def iterGenerator(iterable): 
    for index in range(len(iterable)): 
        yield iterable[index] #Returns the data item at the index in the iterable 

#Using generator function on a list iterable
for item in iterGenerator([1,2,3,4,5]):
    print(item) #Prints items from the iterable without causing any StopIteration exceptions as it is pre-defined

1
2
3
4
5

In [61]:
#Creating a reverse generator to loop through values of an iterable in reverse order
def reverseGenerator(iterable):
    for index in range(len(iterable) - 1, -1, -1): #Runs from len(iterable) - 1 (last index) to 0
        yield iterable[index] #Returns the data item at the index in the iterable
        
#Using generator function on a list iterable
for item in reverseGenerator([1,2,3,4,5]):
    print(item) #Prints items from the iterable in reverse order without any StopIteration execption

5
4
3
2
1

## Generator Expressions:
Generator Expressions allow to perform iterations over various iterables and give a quick fast result. Same as list comprehensions but with () brackets instead of []

In [62]:
#Generator expression for a list to get a list of square values from 0 to 10
list(x**2 for x in range(11))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [63]:
#Generator expression for a set to get a set of square values from 0 to 10
set(x**2 for x in range(11))

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [64]:
#Generator expression for a tuple to get a set of square values from 0 to 10
tuple(x**2 for x in range(11))

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [66]:
#Comparing generator expressions with list comprehensions
%timeit [x**2 for x in range(1000)] #List Comprehension
%timeit list(x**2 for x in range(1000)) #Generator Expression

1.45 ms ± 302 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
1.27 ms ± 367 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)